<div class="container">
  <div class="searchParams">
    <a class="searchParamsText"><span id="byName">nimellä</span>, <span id="byDesc">kuvauksella</span> tai <span id="byFeat">erikoisominaisuuksilla</span>.</a>
  </div>
    <div class="searchInput">
      <input id="search-bar" type="text" placeholder="hakuparametri">
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>
</div>
<script src="js/searchbar.js"></script>