main {
    color: rgb(255, 255, 255);
    grid-area: main;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 300px 300px repeat(3, 1fr);
    grid-template-rows: repeat(4, 130px) auto;
    grid-template-areas:
      "leftBar leftBar leftBar mainCenter mainCenter rightBar rightBar rightBar"
      "leftBar leftBar leftBar mainCenter mainCenter rightBar rightBar rightBar"
      "leftBar leftBar leftBar mainCenter mainCenter rightBar rightBar rightBar"
      "leftBar leftBar leftBar mainCenter mainCenter rightBar rightBar rightBar"
      ". . films films films films .  ."
}

.mainLeftBar {
    grid-area: leftBar;
}

.mainRightBar {
    grid-area: rightBar;
}

.mainCenter {
    grid-area: mainCenter;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows:  170px 230px 100px 120px;
    grid-template-areas:
      "centerHeader"
      "searchbar"
      "centerFooter";
}

.centerHeader {
    border-radius: 20px 20px 0 0 ;
    background-color: rgb(55, 55, 55);
    grid-area: centerHeader;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerHeader p, .centerHeader em {
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
}

em {
    color: #fffb00;
}

.searchBar {
    background-color: rgb(55, 55, 55);
    height: 230px;
    grid-area: searchbar;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.centerFooter p, .centerFooter em {
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
}

#a {
    border-top: solid 2px white;
}

.centerFooter {
    background-color: rgb(55, 55, 55);
    border-radius: 0 0 20px 20px;
    grid-area: centerFooter;
    text-align: center;
    display: flex;
    justify-content: center;
}
