<body>
    <header>
        <div class="headerLeftDiv">
            <h1>Sakila OY</h1>
        </div>
        <div class="headerCenterDiv">
            <a onclick="location.href='/';">Etusivu</a>
            <a onclick="location.href='/categories';">Kategoriat</a>
            <a></a>
        </div>
        <div class="headerRightDiv"></div>
    </header>