<div class="container">
    <div class="searchInput">
      <input id="search-bar" type="text" placeholder="leffan nimi">
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>
</div>
<script src="js/searchbar.js"></script>