<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakila OY</title>
    <link rel="stylesheet" type="text/css" href="/css/header_styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common_styles.css">
    <link rel="stylesheet" type="text/css" href="/css/footer_styles.css">
</head>
<header>
    <div class="headerLeftDiv">
        <img class="logo" src="/brand/2.svg" onclick="location.href='/';">
        <a onclick="location.href='/';">Etusivu</a>
    </div>
    <div class="headerCenterDiv"></div>
    <div class="headerRightDiv"></div>
</header>
<main>
    <div class="mainCenter">
        <h1>Valitettavasti tapahtui virhe!</h1>
    </div>
</main>
<%- include("partials_ejs/footer"); %>
