<body>
    <header>
        <div class="headerLeftDiv">
            <img class="logo" src="/brand/2.svg" onclick="location.href='/';">
            <a onclick="location.href='/categories';">Kategoriat</a>
            <p>/</p>
            <a onclick="location.href='/film/rand';">Satunnainen leffa</a>
        </div>
        <div class="headerCenterDiv"></div>
        <div class="headerRightDiv"></div>
    </header>